@charset "UTF-8";

@font-face {
    font-family: lemon;
    src: url(fontes/lemon_milk/LEMONMILK-Medium.otf) format(opentype);
}

body {
    background: url(imagens/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    margin: 10px;
}

h2 {
    font-family: 'lemon', sans-serif;
    color: white;
    font-weight: normal;
}

header {
    width: 500px;
    height: 650px;
    margin: auto;
    border: 2px solid rgba(255, 255, 255, 0.511);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    text-align: center;
}

header img.foto-perfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
}

header h1 {
    font-family: 'lemon', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 1.5em;
}

header h2 {
    text-align: left;
    padding-left: 10px;
}

header p {
    color: white;
    font-family: 'lemon', sans-serif;
    font-size: 0.8em;
    padding: 10px;
    text-align: justify;
}

header a.site {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin: 0 auto 5px auto;
    border: 1px solid white;
    border-radius: 10px;
    transition: all 0.3s ease-out;
}

header a.site:hover {
    font-size: 0.9em;
}

nav a {
    color: white;
    background-size: cover;
    font-size: 2.5em;
    padding: 0px 10px 0px 10px;
    transition: all 0.3s ease;
}

nav a:hover {
    font-size: 2.3em;
}